In [18]:
import pandas as pd
import pandas_datareader as reader
import numpy as np
import matplotlib.pyplot as plt

In [22]:
delta = reader.DataReader("DELTA.BK", "yahoo","2010-01-01","2020-12-31")
delta.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2010-01-04  18.799999  18.600000  18.799999  18.600000   174300.0  11.050608
2010-01-05  19.000000  18.799999  18.799999  18.900000   493300.0  11.228843
2010-01-06  19.100000  18.900000  19.100000  19.000000  2035800.0  11.288255
2010-01-07  19.100000  18.799999  19.100000  18.799999  1097400.0  11.169432
2010-01-08  18.900000  18.700001  18.799999  18.900000   345600.0  11.228843

In [24]:
corr_df = delta.corr(method='pearson')

 #reset symbol as index (rather than 0-X)

 corr_df.head().reset_index()

 del corr_df.index.name

 corr_df.head(10)

IndentationError: unexpected indent (<ipython-input-24-cfbc6494aec2>, line 5)