In [18]:
import pandas as pd
import pandas_datareader as reader
import numpy as np
import matplotlib.pyplot as plt

In [28]:
df = reader.DataReader("DELTA.BK", "yahoo","2010-01-01","2020-12-31")
df.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2010-01-04  18.799999  18.600000  18.799999  18.600000   174300.0  11.050608
2010-01-05  19.000000  18.799999  18.799999  18.900000   493300.0  11.228843
2010-01-06  19.100000  18.900000  19.100000  19.000000  2035800.0  11.288255
2010-01-07  19.100000  18.799999  19.100000  18.799999  1097400.0  11.169432
2010-01-08  18.900000  18.700001  18.799999  18.900000   345600.0  11.228843

In [30]:
df.corr(method='pearson')

               High       Low      Open     Close    Volume  Adj Close
High       1.000000  0.989710  0.995498  0.991664  0.399454   0.987984
Low        0.989710  1.000000  0.996070  0.996483  0.360442   0.991735
Open       0.995498  0.996070  1.000000  0.991823  0.372209   0.987426
Close      0.991664  0.996483  0.991823  1.000000  0.379253   0.995673
Volume     0.399454  0.360442  0.372209  0.379253  1.000000   0.379213
Adj Close  0.987984  0.991735  0.987426  0.995673  0.379213   1.000000

In [31]:
df.corr(method='kendall')

               High       Low      Open     Close    Volume  Adj Close
High       1.000000  0.979005  0.981825  0.984045  0.103654   0.913156
Low        0.979005  1.000000  0.983341  0.982178  0.091715   0.914364
Open       0.981825  0.983341  1.000000  0.972808  0.095911   0.908688
Close      0.984045  0.982178  0.972808  1.000000  0.098901   0.918559
Volume     0.103654  0.091715  0.095911  0.098901  1.000000   0.077622
Adj Close  0.913156  0.914364  0.908688  0.918559  0.077622   1.000000

# C: No